<div id="page-days">
	<header class="bar bar-nav">
		<h1 class="title">{{dayText}} - {{formattedDate}}</h1>
		{{#link-to 'plan.week' backYear backWeek classNames="icon icon-left-nav pull-left"}}{{/link-to}}
	</header>
	
	<div class="container content-padded">
		{{#if day.dish}}
			{{#pick-dish onGetDishes="getDishes" onSelectDish="selectDish" dishes=dishes btnClassNames="btn btn-primary btn-outlined pull-right"}}
				<span class="icon icon-edit"></span> Change dish
			{{/pick-dish}}
			<h3>{{day.dish.name}} </h3>
			
			
			<img class="img-rounded dish-image" {{bind-attr src=day.dish.image}}>
		{{else}}

			{{#pick-dish onGetDishes="getDishes" onSelectDish="selectDish" dishes=dishes btnClassNames="btn btn-primary"}}
				<i class="fa fa-plus"></i> Add Dish
			{{/pick-dish}}

		{{/if}}
	</div>
</div>