{{#if includeHeader}}
  <header class={{_headerClassString}}>
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{title}}</span>
      <div class="mdl-layout-spacer"></div>

      {{#if includeHeaderLinks}}
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        {{#each _headerNavItems as |navItem|}}
          {{#if navItem.route}}
            {{link-to navItem.name navItem.route class='mdl-navigation__link' bubbles=true}}
          {{else}}
            <span class="mdl-navigation__link">
              {{navItem.name}}
            </span>
          {{/if}}
        {{/each}}
      </nav>
      {{/if}}
    </div>
  </header>
{{/if}}

{{#if includeDrawer}}
  <div class="mdl-layout__drawer">
    {{#if includeDrawerTitle}}
    <span class="mdl-layout-title">{{mobileTitle}}</span>
    {{/if}}

    <div class="wf-nav-user">
      <img src="{{session.currentUser.avatar}}" alt="" class="wf-nav-user-img"/>
      <div class="wf-user-content">
        <div class="wf-nav-user-name">
          {{session.currentUser.displayName}}
        </div>
        {{#mdl-menu align='bottom-right' class='wf-nav-menu'}}
          {{#mdl-menu-item action='signOut'}}Sign Out{{/mdl-menu-item}}
        {{/mdl-menu}}
      </div>
    </div>

    <nav class="mdl-navigation">
      {{#link-to 'calendar' class='mdl-navigation__link' bubbles=true}}
        {{mdl-icon icon='event'}} Calendar
      {{/link-to}}
      {{#link-to 'recipes' class='mdl-navigation__link' bubbles=true}}
        {{mdl-icon icon='local_dining'}} Recipes
      {{/link-to}}
    </nav>
  </div>
{{/if}}
<main class="mdl-layout__content">
  <div class="page-content">
    {{yield}}
  </div>
</main>
