<header class="hidden-header {{_headerClassString}}">
  <div class="mdl-layout__header-row">
    <div class="mdl-layout__drawer-button" id="hidden-drawer-button">
      <i class="material-icons">menu</i>
    </div>
    <span class="mdl-layout-title">{{title}}</span>
    <div class="mdl-layout-spacer"></div>
  </div>
</header>

<div class="mdl-layout__drawer">
  {{#if includeDrawerTitle}}
  <span class="mdl-layout-title">{{mobileTitle}}</span>
  {{/if}}

  <div class="wf-nav-user">
    <img src="{{session.currentUser.avatar}}" alt="" class="wf-nav-user-img"/>
    <div class="wf-user-content">
      <div class="wf-nav-user-name">
        {{session.currentUser.displayName}}
      </div>
      {{#mdl-menu align='bottom-right' class='wf-nav-menu'}}
        {{#mdl-menu-item action='signOut'}}Sign Out{{/mdl-menu-item}}
      {{/mdl-menu}}
    </div>
  </div>

  <nav class="mdl-navigation">
    {{#link-to 'calendar.week' year week class='mdl-navigation__link' bubbles=true}}
      {{mdl-icon icon='event'}} Calendar
    {{/link-to}}
    {{#link-to 'recipes' class='mdl-navigation__link' bubbles=true}}
      {{mdl-icon icon='local_dining'}} Recipes
    {{/link-to}}
  </nav>
</div>

{{yield}}
