<header class="bar bar-nav">

	<h1 class="title">
		Plan - Week {{week}}	
	</h1>

	{{#link-to 'plan.week' prevWeekYear prevWeekNumber classNames="pull-left bar-nav-link"}}
		<span class="icon icon-left-nav"></span>
		<span class="link-text link-text-small">Previous <br/> Week</span>
	{{/link-to}}
	{{#link-to 'plan.week' nextWeekYear nextWeekNumber classNames="pull-right bar-nav-link"}}
		<span class="link-text link-text-small">Next <br/> Week</span>
		<span class="icon icon-right-nav"></span>
	{{/link-to}}

</header>

<div class="content">
	<div class="card" id="days-list">
		<ul class="table-view">
			{{#each day in controller}}
				<li class="table-view-cell media">
					{{#link-to 'days' day.model classNames="navigate-right"}}	
						<div class="pull-left media-object-wrapper">
							{{#if day.model.dish}}
								{{#if day.model.dish.image}}
									<div class="media-object">
										<img {{bind-attr src=day.model.dish.image}}>
									</div>
								{{else}}
									<div class="media-object">
										<img src="/img/food-default.png">
									</div>
								{{/if}}
							{{else}}
								<div class="media-object no-image">
									<div>
										<i class="fa fa-plus fa-2x"></i>
									</div>
								</div>
							{{/if}}
						</div>
						<div class="media-body">
							{{#if day.model.dish}}
									{{day.model.dish.name}}
							{{else}}
									<span style="color: gray; text-style: italic">Nothing planned</span>
							{{/if}}
							<p>
								{{day.dayText}} - {{day.formattedDate}}
							</p>
						</div>
					{{/link-to}}
				</li>
			{{/each}}
		</ul>
	</div>	
</div>
