<div>
	<form class="input-group" {{action "createDish" on="submit"}}>
		<header class="bar bar-nav">
			<h1 class="title">
				New Recipe
			</h1>
			{{#link-to 'dishes' classNames="icon icon-left pull-left"}}{{/link-to}}

			<button class="btn btn-primary pull-right">Save</button>
		</header>

		<div class="content">
			<div class="card">	
				<div class="input-row">
					<label>Name</label>
					{{input value=model.name type='text' placeholder='Pizza'}}
				</div>				
				<div class="input-row" style="height:125px">
					<label>Description</label>

					{{textarea value=model.description rows="5" placeholder="Yummy extra cheesy pizza" classNames="newdish-description"}}
				</div>
			</div>

			<div class="content-padded">
				<h5>Image</h5>
			</div>
			<div class="card">
				{{input value=model.image type='text' placeholder='Image url'}}
				{{#if model.image}}
					<img {{bind-attr src=model.image}} alt="" style="max-width:100%; max-height:400px">
				{{/if}}
			</div>
		</div>


	</form>
</div>

