<div class="mdl-card__title">
  <h2 class="mdl-card__title-text">{{title}}</h2>
</div>
<div class="mdl-card__supporting-text">
  <form {{action "addRecipe" on="submit"}}>
    <div>
      {{mdl-textfield label="Name" value=recipe.name}}
    </div>
    <div>
      {{mdl-textfield label="Description" value=recipe.description}}
    </div>
    <div>
      {{mdl-textfield label="Link to Image" value=recipe.imageUrl}}
    </div>

    {{#if recipe.imageUrl}}
        <div id="image-preview"
             style="background-image: url('{{if recipe.imageUrl recipe.imageUrl defaultImageUrl}}')">
        </div>
    {{/if}}
  </form>
</div>

{{#mdl-card-actions classNames="p15"}}
  {{mdl-button text="Save" isRaised=true action="addRecipe"}}
  <!-- {{mdl-button text="Cancel"}} -->
{{/mdl-card-actions}}
