{{wf-nav-header title="Calendar"}}
{{#wf-content}}
  {{#wf-nav-subheader}}
    <div class="wf-nav-subheader-title">
      <div class="">
        {{mdl-button icon='keyboard_arrow_left' action=(route-action 'goToWeek' prevWeekYear prevWeek)}}
          Week {{week}}
        {{mdl-button icon='keyboard_arrow_right' action=(route-action 'goToWeek' nextWeekYear nextWeek)}}
      </div>
    </div>
  {{/wf-nav-subheader}}

  {{week-planner days=days year=year week=week}}
{{/wf-content}}
