{{#link-to 'recipes.recipe' recipe classNames="mdl-card__title" }}
  <div class="mdl-card__title_image {{if recipe.imageUrl 'background-cover'}}"
       style={{safestring-bgimage recipe.imageUrl}}>
  </div>
{{/link-to}}
     {{!-- ></div> --}}

{{#link-to 'recipes.recipe' recipe classNames="mdl-card__supporting-text"}}
  <div class="recipe-name">{{recipe.name}}</div>
  {{#if recipe.description}}
    <div class="recipe-description">{{recipe.description}}</div>
  {{/if}}
{{/link-to}}

{{#mdl-card-actions}}
  {{mdl-button text="Edit" action="edit"}}
  {{mdl-button icon="delete" classNames="remove-recipe" action="delete"}}
{{/mdl-card-actions}}
