<div class="mdl-card__title {{unless recipe.imageUrl 'background-cover'}}" style="background-image: url('{{if recipe.imageUrl recipe.imageUrl defaultImageUrl}}')">
</div>
<div  class="mdl-card__supporting-text">
  <div>{{recipe.name}}</div>
  {{recipe.description}}
</div>
{{#mdl-card-actions}}
  {{mdl-button text="Edit" action="edit"}}
  {{mdl-button icon="delete" classNames="remove-recipe" action="delete"}}
{{/mdl-card-actions}}
